apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: aconcert
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: boom9387/notification-service:latest
          envFrom:
            - secretRef:
                name: notification-env
