apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: aconcert
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: boom9387/payment-service:latest
          ports:
            - containerPort: 8004
          envFrom:
            - secretRef:
                name: payment-env
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: aconcert
spec:
  selector:
    app: payment-service
  ports:
    - port: 8004
      targetPort: 8004
  type: LoadBalancer # optional: external access if you need webhook or testing
